<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
    
       <div class=a>
        {{>header}}
        <div class=w>
            <p1>Water DB:</p1>
            <form id=form-send>
                    <header>
                        <div class=en>
                            <p>enter water clock:</p>
                        </div>
                        {{>date}}
                        <input id="water-old" placeholder="Enter water clock">
                    </header> 
                
                <button id="calc-water">Save to DB</button>
            </form>
            {{!-- <div class=py>
                <p id="waterUsage"></p>
                <p id="waterPay"></p>
            </div> --}}
        </div>

        <div class=e>
        <p1>Electricity DB:</p1>
        <form id=form-send>
            <header>
                <div class=en>
                    <p>enter electricity clock:</p>
                </div>
                {{>date}}
                <input id="elec-old" placeholder="Enter electricity clock">
            </header>
            
            <button id="calc-elec">Save to DB</button>
        </form>
        {{!-- <div class=py>
            <p id="ElecUsage"></p>
            <p id="ElecPay"></p>
        </div> --}}
        </div>

        <div class=show>
        <p1>Older clocks:</p1>
        <form id=form-send>
            <header>
                <div class=en>
                    <p>Choose year/month:</p>
                </div>
                
                {{!-- {{>date}} --}}
                    <select name="month" id="monthPickRet">
                        {{>month}}
                    </select>
                    <select name="yaer" id="yearPickRet">
                        {{>year}}
                    </select>
                
                
                    <select name="month" id="month">
                        <option value="Water">Water</option>
                        <option value="Electricity">Electricity</option>
                    </select>
                {{!-- <input id="elec-old" placeholder="Enter old clock"> --}}
            </header>
            
            <button id="retrieve">Retrieve from DB</button>
                    <div class=py>
                        <p id="oldClocks"></p>
                        {{!-- <p id="ElecPay"></p> --}}
                    </div>
        </form>
        {{!-- <div class=py>
            <p id="ElecUsage"></p>
            <p id="ElecPay"></p>
        </div> --}}
        </div>
    </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/oldClocks.js"></script>
</body>
</html>