<header class="header">
    <h1>bills calculator</h1>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="bar">
        <a href="/">Calculate Bills</a>
        <a href="/oldClocks">Old Clocks</a>
        <a href="/aboutMe">About Me</a>
    </div>

</header>