div.a {
    position: relative;
    width: 480px;
    height: 200px;
}
div.w {
    position: absolute;
    right: 240px;  
    width: 200px;
    height: 120px;
} 
div.e {
position: absolute;
right: 0;
width: 190px;
height: 120px;
} 
h1 {
    color: darkgreen;
    position: relative;
    right: 0px;  
    width: 300px;
}
header { border-bottom: 1px; }
header p { display: inline-block; }
header button { display: inline-block; }
p1 {color: crimson;
    font-weight: bold;
}

div.p {
    color: darkgreen;
    font-size: 30px;
    font-weight: bold;
}
